<% @page_title = "友達一覧" %>
<h1><%= @page_title %></h1>

<%= link_to "add", new_friend_path %>

<% if @friends.present? %>
 <% @friends.each do |friend| %>
  <p>・<%= link_to friend.name, friend %></p>
  <%= link_to "edit", edit_friend_path(friend)%>
  <%= link_to "delete", friend_path(friend), method: :delete%>
 <% end %>
<% else %>
 <p>登録されている友達がいません。</p>
<% end %>