<% @page_title = "友達一覧" %>
<h1><%= @page_title %></h1>


<% if current_friend %>
    <%= current_friend.name + "さん、こんにちは！"%>
    <%= link_to "ログアウト", :session, method: :delete, data: {confirm: "ログアウトしますか？"} %>
<% else %>
    <h2>ログイン</h2>
    <% if flash.alert %><p><%= flash.alert %></p><% end %>
    <%= form_tag :session, id: "login_form" do %>
        <label>ユーザー名：</label>
        <input type="text" name="name">
        <label>パスワード：</label>
        <input type="password" name="password">
        <input type="submit" value="ログイン">
    <% end %>
<% end %>

<%= form_tag :search_friends, method: :get, class: "search" do %>
    <%= text_field_tag "q", params[:q] %>
    <%=  submit_tag "検索" %>
<% end %>

<%= link_to "add", new_friend_path %>

<% if @friends.present? %>
 <% @friends.each do |friend| %>
  <p>・<%= link_to friend.name, friend %></p>
  <%= link_to "edit", edit_friend_path(friend)%>
  <%= link_to "delete", friend_path(friend), method: :delete, data: {confirm: "本当に削除しますか?" }%>
 <% end %>
<% else %>
 <p>登録されている友達がいません。</p>
<% end %>